<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>

  <appSettings>
    <add key="MyConfigKey" value="MyConfigValue" />
  </appSettings>

  <log4net xmlns="urn:log4net">
    <appender name="DebugFileAppender" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <threshold value="DEBUG" />

      <file value="MyService.log" />

      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{dd.MM HH:mm:ss.fff} %-5p: %m%n" />
      </layout>
    </appender>

    <!-- Logger configuration -->
    <root>
      <level value="DEBUG" />
      <appender-ref ref="DebugFileAppender" />
    </root>
  </log4net>


  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <standardEndpoints>
      <webHttpEndpoint>
        <!-- automaticFormatSelectionEnabled="false" is very important so that we can control the response format (json,xml) -->
        <!-- maxReceivedMessageSize Standard is 65536 we need more because of perimeters passed as wkt-->
        <standardEndpoint maxReceivedMessageSize="2097152" name="" helpEnabled="true" automaticFormatSelectionEnabled="false" defaultOutgoingResponseFormat="Json" />
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering allowDoubleEscaping="true">
        <verbs>
          <add verb="PUT" allowed="true" />
          <add verb="GET" allowed="true" />
          <add verb="DELETE" allowed="true" />
          <add verb="POST" allowed="true" />
        </verbs>
      </requestFiltering>
      <authorization>
        <remove users="*" roles="" verbs="" />
        <add accessType="Allow" users="*" verbs="GET,HEAD,POST,DEBUG,PUT,DELETE" />
      </authorization>
    </security>

  </system.webServer>

</configuration>
